$bodycolor: #444444;
$bodybgcolor: #ffffff;
$black: #000000;
$white: #ffffff;
$hovercolor: #008779;
$sliderdots:#ededed;
$sectiontitlecolor:#cf9e69;
$greycolor:#cccccc;
$offwhite:#f5f5f5;

$xxl:1600px;
$mxl:1320px;
$xl:1200px;
$l:992px;
$m:768px;
$s:568px;
$mobile:280px;
$maxviewport:1920px;

$inner-wrapper: 1200px; 

$font-path: "../fonts";
$imgpath: "../images";
$font: "SourceSansPro", sans-serif;
